.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.anchor{
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.2em;
  text-decoration: none;
  color: inherit
}

.anchor:hover,
.anchor:active,
.anchor:focus{
  color: #0070f3;
  text-decoration: underline;
}